/*
 * Colours
 */

// Background theme colours
$bg-default: #fff;
$bg-accent: #acdcaa;
$bg-accent-light: #cfebce;
$bg-accent-dark: #3e904e; // 40bf71

// Background effect colours
$bg-secondary: #eeeeee;
$bg-primary: #aaccff;
$bg-warning: #e5ff80; // ffffaa
$bg-danger: #ffaaaa;
$bg-success: #aaffaa;

// Foreground theme colours
$fg-default: #000;
$fg-muted: #666666;
$fg-accent: #004400;
$fg-accent-secondary: #396020;
$fg-light: #fff;
$fg-light-secondary: #acdcaa;

// Foreground effect colours
$fg-secondary: #666666;
$fg-primary: #3399cc; // 2c3e50
$fg-warning: #cccc00;
$fg-danger: #cc3333;
$fg-success: #33cc33;

// Borders
$border-color: #556472;
$border-radius: 5px;
$border: 1px solid $border-color;
