@use "./main.scss" as *;

input[type=text] {
    color: $fg-default;
    border: $border;
    border-radius: $border-radius;
    background-color: $bg-default;
    font-size: 1em;
    font: inherit;
    width: 100%;

    &.inline {
        border: none;
        padding: 0;
        margin: 0;
    }

    &:focus {
        outline: none;
        background-color: $bg-accent-light;
    }

    transition: background-color 0.3s ease;
}

input[type=submit], button[type=submit], .submit {
    color: $bg-accent-dark;
    border: $border;
    // border-radius: $border-radius;
    background-color: $bg-accent;

    &:hover {
        background-color: $bg-accent-light;
    }

    transition: background-color 0.3s ease;
}

[contenteditable=true] {
//     border: $border;
//     border-radius: $border-radius;
//     border-color: transparent;

//     &:focus, &:hover {
//         outline: none;
//         border-color: $bg-accent-dark;
//     }

    &:focus {
        outline: none;
    }

//     transition: border-color 0.3s ease;
}

.input-group {
    display: flex;
    flex-direction: row;
    gap: 0;
    
    & > * {
        margin: 0;
        align-self: stretch;
        border: $border;
        border-radius: 0;
    }

    & > :first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }

    & > :not(:first-child) {
        border-left: none;
    }

    & > :last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}